@media only screen and (max-width: 576px){
.navbar-brand img {
    width: 100px;
    height: auto;
}
}
@media only screen and (max-width: 1250px){
    .wt-right , .wt-left{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    
    .extra-nav{
          right: 15%;
        }
     
            .video-wrapper{
                margin-right: 0;
            }
            .video-wrapper::after{
                display: none;
                margin-right: 0;
            }
            .carousel-caption h5{
                font-size: 70px;
                letter-spacing: 25px !important;
            }
    }
    @media only screen and (max-width: 576px){
    .main-banner {
        height: auto;
    }
    .wt-right{
        padding: 0%;
    }
}
@media only screen and (max-width: 576px){
    .banner-text{
        padding-top: 100px !important;
        padding: 70px;
    }
}
@media only screen and (max-width: 991px){
    .banner-text h1{
        font-size: 70px;
        letter-spacing: 30px;
    }
.contact-one {
    padding-right: 375px;
}
}
@media only screen and (max-width: 768px){
    .banner-text h1{
        font-size: 50px;
        letter-spacing: 20px !important;
        font-weight: 600px !important;
        padding-left: 0 !important;
    }
}
@media screen and (max-width: 1024px){
.latest-blogs-square {
    right: 15px;
    width: 80%;
}

}
@media only screen and (max-width: 991px){
    .wt-footer-bot-left {
        float: none;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    }
    
    @media only screen and (max-width: 991px){
    .copyright-block {
        padding-top: 5px;
    }
    }
    @media only screen and (max-width: 991px){
     .wt-footer-bot-right {
        float: none;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    }
    
    @media only screen and (max-width: 991px){
    .wt-footer-bot-right .copyrights-nav {
        float: none !important;
    }
    .contact-info {
        right: 30px;
        width: 310px;
        top: 21px;
    }
    #about-us .container{
        margin-left: 0%;
    }
    .mt-50{
        margin-top: 0%;
    }

    }
@media only screen and (max-width: 620px){
    .hola strong {
        font-size: 46px;
        line-height: 46px;
    }
    
    }
@media only screen and (max-width: 480px){
.latest-blogs-square {
    padding: 15px;
    right: 5px;
    width: 90%;
}
}

@media only screen and (max-width: 324px){
  
    .latest-blog-dark h3{
      font-size: 15px;
    }
      }
      @media only screen and (max-width: 1024px){
    .latest-blog-dark {
        left: 5px;
    }
      }
      @media only screen and (max-width: 576px){
        .hilite-title strong{
         font-size: 40px;
         line-height: 46px;
        }
        .section-bg-txt strong{
          font-size: 40px;
          line-height: 46px;
            
        }
        .slider-area{
            height: 60vh;
        }
        .carousel-item img{
            min-height: 60vh;
        }
      }
      
@media only screen and (max-width: 576px)
{
    .banner-text h1{
        font-size: 45ppx;
        letter-spacing: 21px !important;
        font-weight: 600px;
    }
    }
    @media only screen and (max-width: 458px){
        .banner-text h1{
        font-size: 35px;
        letter-spacing: 15px !important;
    }
    .main-banner .button{
        padding: 15px 15px;
                }
}
    @media only screen and (max-width: 360px){
        .banner-text h1{
        font-size: 30px;
        letter-spacing: 5px !important;
        font-weight: 600;
    }
    .main-banner .button{
        padding: 0 5px 0 5px;
                }
                .button--pan span {
                    letter-spacing: 3px;
                    font-size: 12px;
                    line-height: 0px;
                }
                .video-wrapper{
                    height: 300px;
                }
                .video-icon a i{
                    font-size: 40px;
                }
    }

    @media only screen and (max-width: 320px) and (min-width:280px) {
        .button--pan span {
            font-size: 10px;
            line-height: 20px;
        }
        .main-banner .button{
            padding: 10px 5px;
                    }
    }
@media only screen and (max-width: 360px){
.w-span {
    font-size: 18px;
    line-height: 24px;
}
.w-h2 {
    font-size: 30px;
    line-height: 36px;
}

.welcome-content .button{
    padding: 0 15px 0 15px;
}
}
@media only screen and (max-width: 768px){
.my-carousel::after {
    display: none;
}
.contact-one {
    padding: 15px;
}
.contact-info {
    right: 0px;
    width: 100%;
    top: 0px;
    position: inherit;
    margin-top: 40px;
}
.footer-bottom{
    padding: 0 0 40px 0px;
}
#subscribe-area{
    padding-top: 50px;
}
}

@media only screen and (max-width: 991px){
.my-carousel {

    margin-left: 0px;
    margin-bottom: 80px;
    margin-top: 15px;
}}
@media only screen and (max-width: 420px){
    .my-carousel {
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
/* @media only screen and (max-width: 991px){
.m-carousel-1 {
    margin-bottom: 80px;
}
} */
@media only screen and (max-width: 600px){
.plr-80 {
    padding-left: 15px;
    padding-right: 15px;
}
}
@media only screen and (max-width: 1200px){
.project-content {
    clear: both;
    float: none;
    padding-left: 30px;
}
.contact-one {
    max-width: 745px;
}
}
@media only screen and (max-width: 460px){
.m-carousel-2 .carousel-hover .carousel-line h2 {
    font-size: 15px;
}
}

@media only screen and (max-width: 768px){
       .our-expert-content{
           float: none;
       }
       .team-outer{
           margin-top:50px ;
       }

}
@media only screen and (max-width: 460px){
.m-carousel-2 .carousel-hover .carousel-line p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
}

@media only screen and (max-width: 991px){
.counter-content {
    padding-left: 0px;
}
}

@media only screen and (max-width: 991px){
    .counter-content {
        padding-left: 0px;
    }
    }

    @media only screen and (max-width: 1200px)
    {
.wt-left-part {
    clear: both;
    float: none;
    padding-left: 30px;
}
    }

    @media only screen and (max-width: 991px){
.wt-right {
    padding-right: 0px;
}
    }
   
  
    @media only screen and (max-width: 420px){
.d-overlay-content a.v-button {
    bottom: 70px;
}
.d-overlay-content h2 a{
    font-size: 14px;
    line-height: 14px;
}
.d-overlay-content{
    padding: 20px 30px;
}
.d-overlay-content a{
    font-size: 10px;
    letter-spacing: 3px;
}
/* .w-p{
    display: none;
} */
}
@media only screen and (max-width: 360px){
    .d-overlay-content a.v-button {
        bottom: 60px;
        right: -45px;
    }}


@media only screen and (max-width: 576px){
    
.our-expert-bot-text strong {
          font-size: 50px;
  
 
} 
}
@media only screen and (max-width: 991px){
.counter-main {
    padding-top: 180px;
}}
@media only screen and (max-width: 768px){

    .txt-md-center{
        text-align: center;
    }
    .counter-main{
        padding-top: 40px;
    }


.counter-facts {
    margin-right: 15px;
}
.wt-footer-bot-left {
    text-align: center !important;
  }
}
@media only screen and (max-width: 576px){
.counter-content h2 {
    font-size: 30px;
  
}
.counter-content span {
    font-size: 30px;
    
}
.counter-content p {
    font-size: 16px;
    
}
}
/* @media only screen and (max-width: 576px)
{
.counter-facts:after, .counter-facts:before {
    
    right: 15px;}
    
} */
@media only screen and (max-width: 768px){
    .nav-search-icon {
      position: absolute;
      right: 20%;
      bottom: 25%;
    }
    .banner-title-name{
        width: auto;
    }
    }
    
@media only screen and (max-width: 576px){
    .navbar-toggler{
padding: -0.75rem 0.75rem !important;
    }
}